<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (cartProducts.length > 0) { %>
        <ul>
            <% cartProducts.forEach(productData =>{ %>
                <% console.log('productTitle', productData.product.title) %>
                <li><p>
                        <%= productData.product.title %>
                        (
                        <%= productData.qty %>
                        )
                    </p>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productId" value="<%= productData.product.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>

        </ul>
    <% } else { %>
        <h2>No Items in the Cart</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>